<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>
<body>
    <header>
        <h1>Search Results</h1>
    </header>

    <a href="/search" class="search-button">Click here to go back to search</a>

    {{#if searchResults}}
        <ul>
            {{#each searchResults}}
                <li>
                    <h2>{{title}}</h2>
                    {{#each photos}}
                        <img src="{{this}}" alt="Photo" style="max-width: 300px; max-height: 300px;">
                    {{/each}}
                    <p><strong>Seller:</strong> {{seller}}</p>
                    <p><strong>Description:</strong> {{description}}</p>
                    <p><strong>Article:</strong> {{article}}</p>
                    <p><strong>Size:</strong> {{size}}</p>
                    <p><strong>Color:</strong> {{color}}</p>
                    <p><strong>Gender:</strong> {{gender}}</p>
                    <p><strong>Price:</strong> ${{price}}</p>
                    <p><strong>Condition:</strong> {{condition}}</p>
                    <p><strong>Tags:</strong> {{#each tags}}{{this}}, {{/each}}</p>
                    <p><strong>Comments:</strong> {{#if comments.length}}{{#each comments}}{{this}}, {{/each}}{{else}} No comments{{/if}}</p>
                    <p><strong>Rating:</strong> {{rating}}</p>
                    </li>
                    <form id="viewListingForm" action="/listing" method="POST">
                        <!-- Add hidden input fields to hold listing details -->
                        <input type="hidden" name="id" value="{{_id}}">
                        <input type="hidden" name="seller" value="{{seller}}">
                        <input type="hidden" name="title" value="{{title}}">
                        <input type="hidden" name="description" value="{{description}}">
                        <input type="hidden" name="article" value="{{article}}">
                        <input type="hidden" name="size" value="{{size}}">
                        <input type="hidden" name="color" value="{{color}}">
                        <input type="hidden" name="gender" value="{{gender}}">
                        <input type="hidden" name="price" value="{{price}}">
                        <input type="hidden" name="condition" value="{{condition}}">
                        <input type="hidden" name="photos" value="{{photos}}">
                        <input type="hidden" name="tags" value="{{tags}}">
                        <!-- Submit button -->
                        <input type="submit" value="View this listing">
                    </form>
            {{/each}}
        </ul>
    {{else}}
        <p>No results found.</p>
    {{/if}}
</body>
</html>
