<section id="search-results">
    <div class="listing-grid">
        {{#if searchResults}}
            {{#each searchResults}}
                <a href="/listings/{{_id}}" class="listing-link">
                    <div class="listing_in_search">
                        <h2>{{title}}</h2>
                        {{#each photos}}
                            <img src="{{this}}" alt="Photo" style="max-width: 300px; max-height: 300px;">
                        {{/each}}
                        <p><span class="key">Seller:</span> <span class="value">{{seller}}</span></p>
                        <p><span class="key">Description:</span> <span class="value">{{description}}</span></p>
                        <p><span class="key">Article:</span> <span class="value">{{article}}</span></p>
                        <p><span class="key">Size:</span> <span class="value">{{size}}</span></p>
                        <p><span class="key">Color:</span> <span class="value">{{color}}</span></p>
                        <p><span class="key">Gender:</span> <span class="value">{{gender}}</span></p>
                        <p><span class="key">Price:</span> <span class="value">${{price}}</span></p>
                        <p><span class="key">Condition:</span> <span class="value">{{condition}}</span></p>
                        <p><span class="key">Tags:</span> {{#each tags}}{{this}}, {{/each}}</p>
                        <p><span class="key">Comments:</span> {{#if comments.length}}{{#each comments}}{{this}}, {{/each}}{{else}} No comments{{/if}}</p>
                        <p><span class="key">Rating:</span> <span class="value">{{rating}}</span></p>
                    </div>
                </a>
            {{/each}}
        {{else}}
            <p>No results found.</p>
        {{/if}}
    </div>
</section>
