<section>
    <header>
        <h1>User Profile</h1>
    </header>
        <!-- Clothes to Sell -->
        <h2>Clothes to Sell</h2>
        <ul>
            {{#each clothes}}
                <li>
                    <img src="{{photo}}" alt="{{name}}">
                    <h3>{{name}}</h3>
                    <p>{{description}}</p>
                    <p>Price: {{price}}</p>
                    <p>Condition: {{condition}}</p>
                    <p>Color: {{color}}</p>
                    <p>Size: {{size}}</p>
                    <button onclick="deleteClothes('{{id}}')">Delete</button>
                </li>
            {{/each}}
        </ul>

        <!-- User Account -->
        <h2>User Account</h2>
        {{#if user}}
            <p>Login Info:</p>
            <p>Username: {{user.username}}</p>
            <p>First Name: {{user.firstName}}</p>
            <p>Last Name: {{user.lastName}}</p>
            <p>Email: {{user.email}}</p>
            <a href="/user/logout" class="button">Logout</a>
            <a href="/cart/{{user._id}}" class="button">Edit Wallet Info</a>
        {{else}}
            <p>No user logged in.</p>
            <a href="/users/login" class="button">Login</a>
            <a href="/users/register" class="button">Register</a>
        {{/if}}
</section>
